* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER FIXO */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* CONTEÚDO */
.main {
    margin-top: 260px;
}

.meio {
    margin-top: 20px;
}

/* TEXTO */
p {
    text-align: justify;
    line-height: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

/* LINKS */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ef5a2c;
}

/* TOPO */
.menu_top {
    width: 100%;
    height: 170px;
    border-bottom: 3px solid #36c8f0;
    border-top: 10px solid #36c8f0;
    background-color: white;
}

.top_esp {
    width: 140px;
    float: left;
    padding: 10px;
}

.top_dir {
    float: left;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #ef5a2c;
    padding-left: 35px;
    padding-top: 20px;
}

/* LIMPAR FLOAT */
.clear {
    clear: both;
}

/* MENU */
.menu_down {
    background: #36c8f0;
    height: 50px;
    text-align: center;
}

.menu {
    width: 100%;
}

/* LISTA PRINCIPAL */
.menu ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

/* ITENS DO MENU */
.menu ul li {
    float: left;
    width: 20%;
    /* 5 itens na linha */
    height: 50px;
    line-height: 50px;
    background-color: #36c8f0;
    text-align: center;
    position: relative;
}

/* LINKS */
.menu ul li a {
    display: block;
    color: black;
}

/* HOVER */
.menu ul li:hover {
    background-color: #299765;
}

/* SUBMENU */
.menu ul ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
}

/* MOSTRAR SUBMENU */
.menu ul li:hover>ul {
    display: block;
}

/* ITENS DO SUBMENU */
.menu ul ul li {
    width: 150px;
    float: none;
    background-color: #36c8f0;
}

/* SUBMENU LATERAL */
.menu ul ul ul {
    position: absolute;
    top: 0;
    left: 150px;
}

/* HOVER SUBMENU */
.menu ul ul li:hover {
    background-color: #20758d;
}

.menu ul ul ul li:hover {
    background-color: #165263;
}

p {
    text-align: justify;
    float: left;
}